@import './mixins';
img{
  border-radius: 45%;
  width: 300px;
  height: auto;
    
}

.grayscale{
  @include effectos("grayscale",0,1);
}
.blur{
  @include effectos("blur",0px,5px);
}
.sepia{
  @include effectos("sepia",0%,100%);
}
.hue-rotate{
  @include effectos("hue-rotate",0deg,360deg);
}
.invert{
  @include effectos("invert",0,0.8);
}
.brightness{
  @include effectos("brightness",1,0.5);
}
.contrast{
  @include effectos("contrast",0,2);
}